/*business-two css start*/

.menu.rt-mega-menu-transition-default{
	padding-top:6px ;

}
.small-round-img img{
border-radius: 5px;
}
.left-position div {
    margin-left: -28px;
}
.left-position .radiantthemes-custom-heading-text p {
    margin-left: 0;
    position: relative;
    left: 55px;
}
.hover-overlay{
	position: relative !important;
    transition: all 0.3s ease-in-out!important;
    -webkit-transition: all 0.3s ease-in-out!important;
}

.hover-overlay:after{
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	content: "";
	top: -26px;
	left: 0;
	border-radius: 5px;
	z-index: 1;
	visibility:hidden;
	opacity:0;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
        transition: all 0.3s ease-in-out!important;
    -webkit-transition: all 0.3s ease-in-out!important;

}
.hover-overlay:hover:after{
	visibility:visible;
	opacity:1;
}
.hover-overlay h3 {
    position: relative;
    z-index: 2;
}
.shadow-section{
        position: relative;
        z-index:999;
}
.shadow-section .vc_column-inner{
	box-shadow: 0 2px 40px rgba(0,0,0,0.1);
	margin-left: 0px;
}
.shadow-section:after {
     position: absolute;
    content: "";
    height: 88%;
    width: 10%;
    left: -50px;
    background: #fff;
    bottom: 0px;
    margin-bottom: 2px;
}
/*custom footer two css*/

.footer-list-style li{
	display: inline-block;
	text-align: right; 
	font-size: 13px; 
	list-style: none;
	padding:0;
	margin:0;
}
.footer-list-style li:before{
	position: static;
	visibility: hidden;
}


/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
    .hide-mobile{
	display: none !important;
}
.hide-desktop{
	display: block !important;
}
.shadow-section .vc_column-inner{
	padding:50px 30px !important;
}
.shadow-section:after{
    position:static;
}
.agency-mobile-responsive-column > .vc_column-inner{
    padding-top: 0px !important;
    padding-bottom: 70px !important;
}
.our-bespoke > .vc_column-inner{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
    .hide-mobile{
	display: none !important;
}
.hide-desktop{
	display: block !important;
}
.agency-mobile-responsive-column > .vc_column-inner{
    padding-top: 0px !important;
    padding-bottom: 70px !important;
}
.our-bespoke > .vc_column-inner{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){
.hide-mobile{
	display: none !important;
}
.hide-desktop{
	display: block !important;
}
.agency-custom-web-column{
    margin-left: -15px !important;
}
.our-bespoke > .vc_column-inner{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){
    .left-position div {
    margin-left: 7px;
}
.left-position .radiantthemes-custom-heading-text p {
    margin-left: 0;
    position: relative;
    left: -34px;
}
.shadow-section .vc_column-inner {
    margin: 0px;
}
.hide-mobile{
	display: none !important;
}
.hide-desktop{
	display: block !important;
}
.our-bespoke > .vc_column-inner{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
}

/*business-two css end*/


/*business three css start*/

.welcome-hover-box .vc_column-inner:hover {
    background: #f5f793 !important;
        transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
}
.welcome-hover-box .radiantthemes-custom-button {
	visibility: hidden;
	opacity: 0;
}
.welcome-hover-box:hover .radiantthemes-custom-button {
   	visibility: visible;
	opacity: 1;
	    transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
}
.full-flex-box .wpb_wrapper{
    max-width: 524px;
    align-self: flex-end;
    width:100%;
}
.inner-font-style h3{
	font-family: Overpass Light;
	font-size: 28px;
	line-height: 35px;
	font-weight:300;
}
.inner-font-style h3 span{
	font-family: Overpass Thin;
	font-weight:100;
}
.footer-background{
	position: relative;
}
.footer-background:after{
	position: absolute;
	height: 100%;
	width: calc(50% - 331px);
	left: 0;
	top: 0;
	content: " ";
	background:#0b0f16;
}
ul.footer-list-style-two{
    margin:0px !important;
}

.footer-list-style-two li{
	display: inline-block;
	text-align: right; 
	font-size: 13px; 
	list-style: none;
	padding:0;
	margin:0px !important;
}
.footer-list-style-two li:before{
	position: static;
	visibility: hidden;
}
/* TABLET LANDSCAPE PART */

@media screen and (min-width:768px) and (max-width:991px) {
.full-flex-box .wpb_wrapper{
    align-self: initial;
}
.full-flex-box .vc_column-inner{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
}


/* TABLET PROTRAIT PART */

@media screen and (min-width:480px) and (max-width:767px) {
.full-flex-box .wpb_wrapper{
    align-self: initial;
}
.full-flex-box .vc_column-inner{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
}
/*business three css start*/

/*Corporate Business  css start*/
.left-custom-box .vc_column-inner{
	box-shadow: 0 5px 30px rgba(0,0,0,0.1);
}
.page-id-321 .wraper_header.style-two .wraper_header_main .header_main_action ul > li.header-cart-bar > .header-cart-bar-icon .cart-count{
background-color: #ff1e4a;
}
/*Corporate Business  css end*/

/*Web Design  css start*/
.web-design-box .vc_column-inner{
	box-shadow: 0 5px 30px rgba(0,0,0,0.1);
}
.red-hover-box .vc_column-inner{
	box-shadow: 0 5px 30px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.red-hover-box .vc_column-inner:hover {
    background: #ff1748 !important;
    color: #fff;

}
.red-hover-box .vc_column-inner:hover h5 {
    color: #fff !important;
}
.red-hover-box .vc_column-inner:hover p {
    color: #fff !important;
}
/*Web Design  css start*/

/*Blog Portfolio  css start*/
.box-hover{
    transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
}

.business-hover-box{
    position:relative;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.business-hover-box:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '' !important;
    background: linear-gradient(to right, #ff6b11 0%,#ff324d 100%);
    visibility:hidden;
    opacity:0;
    display: block !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.business-hover-box:hover{
    transform:translateY(-5px);
}
.business-hover-box:hover:before{
    visibility:visible;
    opacity:1;
}
.business-hover-box .vc_column-inner{
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.business-hover-box .vc_column-inner:hover,
.business-hover-box:hover .vc_column-inner{
    filter: brightness(0) invert(1);
}

.video-image-width{
	width: 360px;
	float: right;
}
.video-part{
	width: 263px;
	margin-top: 85px;
	position: relative;
	z-index: 1;
}
/*Blog Portfolio  css end*/
.rt-fancy-text-box.element-eight.rt1435745056 .holder:hover{
background:url ('https://vio.radiantthemes.com/wp-content/uploads/2019/05/insight.png') center top ;}

.rt-fancy-text-box.element-eight.rt4161754849:hover {
    background-image: url(https://vio.radiantthemes.com/wp-content/uploads/2019/05/video-image.jpg) !important;
}

/*creative  css start*/
.creative-dream-image{
width:580px;
float:right;
}
.creative-left-section .vc_column-inner {
    position: relative;
    z-index: 999 !important;
}
.section-shadow .vc_column-inner{
box-shadow: 0 5px 35px rgba(200,187,144,0.3);
}
.creative-banner-text-back{
	position: relative;
}
.creative-banner-text-back:after{
    position: absolute;
    content: "";
    height: 68%;
    background: #f8f4e9;
    bottom: 0;
    left: 0;
    width: calc(50% + 74px);
    margin-left: -32px;
    margin-bottom: 98px;
}

.video-section{
        bottom: 20px;
    position: relative;
}
.shadow-hover .vc_column-inner{
       -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.shadow-hover .vc_column-inner:hover{
    box-shadow: 22px 36px 40px rgba(200,187,144,0.2);
    transform: translate(3px, 10px);
    -webkit-transform: translate(3px, 10px);
}
.shadow-hover .vc_column-inner div:hover a{
    color:#fb775b !important;
}

.shadow-active .vc_column-inner{
    box-shadow: 22px 36px 40px rgba(200,187,144,0.2);
    transform: translate(3px, 10px);
    -webkit-transform: translate(3px, 10px);
}
.shadow-active .vc_column-inner div a{
    color:#fb775b !important;
}
/* TABLET LANDSCAPE PART */

@media screen and (min-width:768px) and (max-width:991px) {
.creative-dream-image{
    width:100%;
    float:none;
    text-align: left !important;
}	
}

/* SMART PHONE LANDSCAPE PART */

@media screen and (min-width:321px) and (max-width:479px) {
.creative-dream-image{
    width:100%;
    float:none;
    text-align: left !important;
}
}
/* SMART PHONE PROTRAIT PART */

@media screen and (max-width:320px) {
.creative-dream-image{
    width:100%;
    float:none;
    text-align: left !important;
}
}

/* TABLET PROTRAIT PART */

@media screen and (min-width:480px) and (max-width:767px) {

}

/*creative  css end*/

/*about one start*/
.text-hover-box .vc_column-inner:hover{
	box-shadow: 0px 20px 33px rgba(225,225,225,0.5);
	border: 1px solid #fff !important;
	transition: all 0.3s ease-in-out!important;
    -webkit-transition: all 0.3s ease-in-out!important;
}
.text-hover-box .vc_column-inner:hover img{
		-webkit-filter: grayscale(100%) brightness(78%) sepia(100%) hue-rotate(-51deg) saturate(1000%) contrast(0.8);
    filter: grayscale(100%) brightness(78%) sepia(100%) hue-rotate(-51deg) saturate(1000%) contrast(0.8);
}
/*about one end*/

/*contact page start*/

.box-shadow-contact > .vc_column-inner {
    box-shadow: 0 10px 27px rgba(0,0,0,0.1);
}
/*contact page end*/

/*service page one start*/
.service-one-shadow > .vc_column-inner{
	box-shadow: 10px 11px 40px rgba(213,205,173,0.4);
		transition: all 0.3s ease-in-out!important;
    -webkit-transition: all 0.3s ease-in-out!important;
}
.service-one-shadow:hover > .vc_column-inner{
	border-bottom: 1px solid #d1d1d1 !important;
}
.service-box-shadow .vc_column-inner{
	box-shadow: 10px 11px 40px rgba(213,205,173,0.4);
}
.service-box-shadow:hover .vc_column-inner h2{
	color: #ff1748 !important;
}
.shadow-box > div{
	box-shadow: 10px 11px 40px rgba(213,205,173,0.4);
}
/*service page one end*/

/*Why Choose Us start*/
.box-section-main > .vc_column-inner{
	position: relative;
	 transition: all 0.3s ease-in-out!important;
    -webkit-transition: all 0.3s ease-in-out!important;
}
.box-section-main:hover .vc_column-inner{

    	transform: translateY(+20px);
    -webkit-transform: translateY(+20px);
}
.box-section-main:hover h2{
   visibility: hidden;
   opacity: 0;
}
.box-section-main > .vc_column-inner .box-section-main-hover{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	margin:0;
	border-radius: 5px;
	 transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.box-section-main .vc_column-inner:hover .box-section-main-hover{
	visibility: visible;
	opacity: 1;
}
.footer-web-design{
	position: relative;
}
.footer-web-design:after{
	position: absolute;
	height: 100%;
	width: calc(50% - 331px);
	left: 0;
	top: 0;
	content: " ";
	background: url(https://vio.radiantthemes.com/wp-content/uploads/2019/05/footer-left.jpg) center top;
    background-repeat: no-repeat;
    background-size: cover;	
}
.extra-space{
    padding-left:40px !important;
}
.why-choose-us-fancy-text-box-active-hover-box > .vc_column-inner > .wpb_wrapper > .rt-fancy-text-box.element-one > .holder{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    box-shadow: 0 3px 35px rgba(0,0,0,0.1);
    height: 280px;
}

/*Why Choose Us end*/

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
        .hide-mobile{
	display: block !important;
}
.hide-desktop{
	display: none !important;
}
}
.custom-accordion.radiantthemes-accordion.element-two .radiantthemes-accordion-item {
padding-bottom: 10px;
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
    .hide-mobile{
	display: block !important;
}
.hide-desktop{
	display: none !important;
}
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
    	/*business section responsive start*/
	.left-position div {
    margin-left: 0;
    padding: 0 5px;
}
.left-position .radiantthemes-custom-heading-text p {
    margin-left: 0;
    position: relative;
    left: -26px;
}
.left-position div.rt-popup-video{
	padding: 0;
}

/*business section responsive end*/

 /*Blog Portfolio section responsive start*/
.video-part {
    width: 263px;
    margin-top: 334px;
}
 /*Blog Portfolio section responsive end*/
 .responsive-image-width {
    width: 441px;
    margin-left: -135px;
    margin-top: 71px;
}
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
    	/*business section responsive start*/
	.left-position div {
    margin-left: 0;
    padding: 0 5px;
}
.left-position .radiantthemes-custom-heading-text p {
    margin-left: 0;
    position: relative;
    left: -26px;
}
.left-position div.rt-popup-video{
	padding: 0;
}
/*business section responsive end*/
    /*Blog Portfolio section responsive start*/
.video-part {
    width: 100%;
    margin-top: 40px;
}
.video-image-width {
    width: auto;
    float:none;
}
/*Blog Portfolio section responsive start*/
.creative-banner-text-back:after {
    position: absolute;
    content: "";
    height: 78%;
    background: #f8f4e9;
    bottom: 0;
    left: 0;
    width: calc(50% + 74px);
    margin-left: -32px;
    margin-bottom: 68px;
}
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){
	/*business section responsive start*/
	.left-position div {
    margin-left: 0;
    padding: 0 5px;
}
.left-position .radiantthemes-custom-heading-text p {
    margin-left: 0;
    position: relative;
    left: -26px;
}
.left-position div.rt-popup-video{
	padding: 0;
}
/*business section responsive end*/
/*Blog Portfolio section responsive start*/
.video-part {
    width: 100%;
    margin-top: 40px;
}
.video-image-width {
    width: auto;
    float:none;
}
/*Blog Portfolio section responsive start*/
.creative-banner-text-back:after {
    position: absolute;
    content: "";
    height: 78%;
    background: #f8f4e9;
    bottom: 0;
    left: 0;
    width: calc(50% + 74px);
    margin-left: -32px;
    margin-bottom: 68px;
}
}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){
/*business section responsive start*/
	.left-position div {
    margin-left: 0;
    padding: 0 5px;
}
.left-position .radiantthemes-custom-heading-text p {
    margin-left: 0;
    position: relative;
    left: -26px;
}
.left-position div.rt-popup-video{
	padding: 0;
}
/*business section responsive end*/

/*Blog Portfolio section responsive start*/
.video-part {
    width: 100%;
    margin-top: 40px;
}
.video-image-width {
    width: auto;
    float:none;
}
.creative-banner-text-back:after {
    position: absolute;
    content: "";
    height: 78%;
    background: #f8f4e9;
    bottom: 0;
    left: 0;
    width: calc(50% + 74px);
    margin-left: -32px;
    margin-bottom: 68px;
}
/*Blog Portfolio section responsive end*/
}


/*elements portfolio five custom css*/

.page-id-1255 .rt-portfolio-box.element-five .rt-portfolio-box-item>.holder:hover>.data {
	background: #ff6b11 ;
    background: -moz-linear-gradient(left, #ff6b11 0%, #ff324d 100%);
    background: -webkit-linear-gradient(left, #ff6b11 0%,#ff324d 100%);
    background: linear-gradient(to right, #ff6b11 0%,#ff324d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6b11', endColorstr='#ff324d',GradientType=1 );
}

.blog-portfolio-table.rt-pricing-table.element-four>.holder>.heading{
	    margin-bottom: 38px;
}
.blog-portfolio-table.rt-pricing-table.element-four>.holder>.pricing {
    margin-bottom: 35px;
}
.blog-portfolio-table.rt-pricing-table.element-four>.holder>.list ul li {
    margin-bottom: 15px;
}
.blog-portfolio-table.rt-pricing-table.element-four>.holder>.list{
	margin-bottom: 70px;
}
.blog-portfolio-table.rt-pricing-table.element-four > .holder > .spotlight-tag > .spotlight-tag-text {
    	background: #ff6b11 ;
    background: -moz-linear-gradient(left, #ff6b11 0%, #ff324d 100%);
    background: -webkit-linear-gradient(left, #ff6b11 0%,#ff324d 100%);
    background: linear-gradient(to right, #ff6b11 0%,#ff324d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6b11', endColorstr='#ff324d',GradientType=1 );
}
.blog-portfolio-table .more a.btn{
    border: 0px none;
    color:#fff;
    	background: #ff6b11 ;
    background: -moz-linear-gradient(left, #ff6b11 0%, #ff324d 100%);
    background: -webkit-linear-gradient(left, #ff6b11 0%,#ff324d 100%);
    background: linear-gradient(to right, #ff6b11 0%,#ff324d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6b11', endColorstr='#ff324d',GradientType=1 );
}
.blog-portfolio-table .spotlight > .holder > .more > a{
    background:#282828 !important;
}


/*clints custom css*/

.client-background-color > div:nth-child(odd) > .vc_column-inner {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f8f8f8+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #f8f8f8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#f8f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=1 ); /* IE6-9 */
}
.client-background-color-one > div:nth-child(even) > .vc_column-inner {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f8f8f8+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #f8f8f8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#f8f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=1 ); /* IE6-9 */
}
/*clints custom css*/

/*Accordion custom css*/
.custom-accordion .radiantthemes-active h4.panel-title {
    color: #ff1a46 !important;
}

.custom-accordion.radiantthemes-accordion.element-one.rt3236985928 .radiantthemes-accordion-item.radiantthemes-active > .radiantthemes-accordion-item-title > .radiantthemes-accordion-item-title-icon,  
.custom-accordion.radiantthemes-accordion.element-two.rt3236985928 .radiantthemes-accordion-item > .radiantthemes-accordion-item-title > .radiantthemes-accordion-item-title-icon > .line:before, 
.custom-accordion.radiantthemes-accordion.element-two.rt3236985928 .radiantthemes-accordion-item > .radiantthemes-accordion-item-title > .radiantthemes-accordion-item-title-icon > .line:after{
    background: #ff1a46 !important;
}

.custom-accordion.radiantthemes-accordion.element-two .radiantthemes-accordion-item.radiantthemes-active {
    border-color: transparent;
    border: 1px #ddd solid;
}
.custom-accordion.radiantthemes-accordion.element-two .radiantthemes-accordion-item>.radiantthemes-accordion-item-body {
    color: #282828 !important;
    padding: 27px 0 20px 0;
}
.custom-accordion .radiantthemes-accordion-item .line:after {
    background: #ff1a46 !important;
}
.custom-accordion .radiantthemes-accordion-item .line:before {
    background: #ff1a46 !important;
}
.custom-accordion.radiantthemes-accordion.element-two .radiantthemes-accordion-item.radiantthemes-active>.radiantthemes-accordion-item-title>.radiantthemes-accordion-item-title-icon>.line:before {
    background: #000 !important;
}
.custom-accordion.radiantthemes-accordion.element-two .radiantthemes-accordion-item>.radiantthemes-accordion-item-title>.radiantthemes-accordion-item-title-icon>.line{
	width: 14px;
	height: 14px;
}
/*Accordion custom css*/

/*sidebar menu css*/
body[data-header-style=header-style-four] .wraper_header.style-four .wraper_header_sidebar .header_sidebar .header-sidebar-social ul.social {
    width: 100%;
    background: #fff;
    /* transform: rotate(271deg); */
    transform-origin: left top 0;
    padding: 0px 0px;
    position: relative;
}
body[data-header-style=header-style-four] .wraper_header.style-four .wraper_header_sidebar .header_sidebar .header-sidebar-social ul.social > li {
    width: 100%;
    margin-bottom: 5px;
    transform: rotate(271deg);
    float: left;
    padding: 0;
    margin: 44px 0;
 
}
body[data-header-style=header-style-four] .wraper_header.style-four .wraper_header_sidebar .header_sidebar .header-sidebar-social ul.social > li .fa{
	position: absolute;
	left: -27px;
	color:#ff354b;
}

body[data-header-style=header-style-four] .wraper_header.style-four .wraper_header_sidebar .header_sidebar .header-sidebar-social ul.social > li > a{
	   color: #282828;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-size:16px;
}
body[data-header-style=header-style-four] .wraper_header.style-four .wraper_header_sidebar .header_sidebar .header-sidebar-brand-icon{
    margin-bottom: 80px;
}

body[data-header-style=header-style-four] .wraper_header.style-four .wraper_header_sidebar .header_sidebar .header-sidebar-menu-open {
    margin-bottom: 100px;
}
body[data-header-style=header-style-four] .wraper_header_main .header_main .header-social ul.social li a {
    font-size: 0;
}
body[data-header-style=header-style-four] .wraper_header_main .header_main .header-social ul.social li a .fa {
    font-size: 18px;
}
.video-content .wpb_wrapper{
	max-width: 521px;
	align-self: flex-end;
	float:right;
}
.rt-fancy-text-box.element-eight .holder:before{
    -webkit-transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    -o-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;
}

/*sidebar menu css*/
/*elements portfolio five custom css*/

.vc_custom_1558336151073.text-hover-box .vc_column-inner
{
    box-shadow: 0px 20px 33px rgba(225,225,225,0.5);
    border: 1px solid #fff !important;
    transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
}
/**/
.text-hover-box .vc_custom_1558336151073
{
    box-shadow: 0px 20px 33px rgba(225,225,225,0.5);
    border: 1px solid #fff !important;
    transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
}

.wraper_header.style-eight .wraper_header_main .nav > [class*='menu-'] > ul.menu > li{
    margin-right: 40px;
}
.testimonial.element-one .testimonial-item>.holder>.testimonial-title .title{
        text-transform: capitalize !important;
}
.testimonial.element-one .testimonial-item>.holder>.testimonial-title .designation{
    text-transform: capitalize !important;
}

.back-left div{
    background-position: 0px 113px !important;
}

.team.element-one .team-item>.holder>.pic{
    box-shadow: 0px 40px 90px -30px rgba(0,0,0,0.2) !important;
}

.rt-pricing-table.element-four>.holder{
        box-shadow: 0px 2px 40px rgba(0,0,0,0.1) !important;
}

.radiant-contact-form .form-row input[type=text], 
.radiant-contact-form .form-row input[type=email], 
.radiant-contact-form .form-row input[type=url], 
.radiant-contact-form .form-row input[type=tel], 
.radiant-contact-form .form-row input[type=number], 
.radiant-contact-form .form-row input[type=password], 
.radiant-contact-form .form-row input[type=date], 
.radiant-contact-form .form-row input[type=time], 
.radiant-contact-form .form-row input[type=file], 
.radiant-contact-form .form-row select, 
.radiant-contact-form .form-row textarea{
    font-family: Barlow !important;
}
.radiant-contact-form .form-row input[type=submit]{
font-family: Barlow !important;
font-size:18px;
}
.page-id-500 .wraper_header.style-two .wraper_header_main .header_main_action ul > li.header-cart-bar > .header-cart-bar-icon .cart-count{
    background-color: #7621ff;
}

/* HEADER CART OPTION CSS */
/* TABLET LANDSCAPE PART */

@media screen and (min-width:768px) and (max-width:991px) {
	.wraper_header.style-one .wraper_header_main .header-responsive-nav {
		margin-top: 12px;
	}
.wraper_header.style-one .wraper_header_main .header_main_action {
    margin-top: 18px !important;
}
}


/* TABLET PROTRAIT PART */

@media screen and (min-width:480px) and (max-width:767px) {
	.wraper_header.style-one .wraper_header_main .header-responsive-nav {
		margin-top: 12px;
	}
.wraper_header.style-one .wraper_header_main .header_main_action {
    margin-top: 18px !important;
}
}

/* SMART PHONE LANDSCAPE PART */

@media screen and (min-width:321px) and (max-width:479px) {
	.wraper_header.style-one .wraper_header_main .header-responsive-nav {
		margin-top: 12px;
	}
.wraper_header.style-one .wraper_header_main .header_main_action {
    margin-top: 18px !important;
}
.wraper_header.style-two-a .wraper_header_main .header_main_action,
.wraper_header.style-two .wraper_header_main .header_main_action{
    margin-top: 19px !important;
}
}
/* SMART PHONE PROTRAIT PART */

@media screen and (max-width:320px) {
	.wraper_header.style-one .wraper_header_main .header-responsive-nav {
		margin-top: 12px;
	}
.wraper_header.style-one .wraper_header_main .header_main_action {
    margin-top: 18px !important;
}
.wraper_header.style-two-a .wraper_header_main .header_main_action,
.wraper_header.style-two .wraper_header_main .header_main_action{
    margin-top: 19px !important;
}

}

/* HEADER CART OPTION CSS */